# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env/
.venv/

# Development
*.log
.DS_Store

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Build and distribution
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/
